name = "codequest2"
compatibility_date = "2026-02-08"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist"
not_found_handling = "single-page-application"

[observability]
enabled = true

